.Background {
  display: grid;
  grid-area: 1 / 1 / 1 / 1;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.Color {
  grid-area: 1 / 1 / 1 / 1;
  background: hsl(from var(--color-white) h s l / 5%);
}

.Pattern {
  grid-area: 1 / 1 / 1 / 1;
  background-image: linear-gradient(transparent 50%, hsl(from var(--color-black) h s l / 25%) 50%);
  background-size: 100% 0.25rem;
}
