.Button {
  --border-color: hsl(from var(--color-white) h s l / 50%);

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.Button:hover {
  --border-color: hsl(from var(--color-black) h s l / 50%);
}

.Button__Label {
  z-index: 1;
  grid-area: 1 / 1 / 1 / 1;
  padding-block: calc(var(--unit) * 3);
  padding-inline: calc(var(--unit) * 8);
  font-family: var(--font-mono);
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
  text-transform: uppercase;
  letter-spacing: var(--tracking-widest);
  transition: color var(--default-transition-duration) var(--default-transition-timing-function);
}

.Button:hover .Button__Label {
  color: var(--color-black);
}

.Button__Background {
  display: grid;
  grid-area: 1 / 1 / 1 / 1;
  grid-template-rows: calc(var(--unit) * 2) 1fr calc(var(--unit) * 2);
  grid-template-columns: calc(var(--unit) * 2) 1fr calc(var(--unit) * 2);
  padding: 0.125rem;
  background: hsl(from var(--color-black) h s l / 50%);
  border: 0.0625rem solid hsl(from var(--color-white) h s l / 10%);
  transition: background-color var(--default-transition-duration) var(--default-transition-timing-function);
}

.Button:hover .Button__Background {
  background: hsl(from var(--color-white) h s l / 75%);
}

.Button__TopLeft,
.Button__TopRight,
.Button__BottomLeft,
.Button__BottomRight {
  width: calc(var(--unit) * 2);
  height: calc(var(--unit) * 2);
  border: 0.0625rem solid var(--border-color);
  transition: border-color var(--default-transition-duration) var(--default-transition-timing-function);
}

.Button__TopLeft {
  grid-area: 1 / 1 / 1 / 1;
  border-right: 0;
  border-bottom: 0;
}

.Button__TopRight {
  grid-area: 1 / 3 / 1 / 3;
  border-bottom: 0;
  border-left: 0;
}

.Button__BottomLeft {
  grid-area: 3 / 1 / 3 / 1;
  border-top: 0;
  border-right: 0;
}

.Button__BottomRight {
  grid-area: 3 / 3 / 3 / 3;
  border-top: 0;
  border-left: 0;
}