.Container,
.ContainerFooter {
  display: flex;
  flex-direction: column;
  gap: calc(var(--unit) * var(--gap));
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: var(--container-7xl);
  height: 100%;
  padding-block: calc(var(--unit) * 32);
  padding-inline: calc(var(--unit) * 4);
  margin-inline: auto;
}

.ContainerFooter {
  padding-block: calc(var(--unit) * 4);
}
