.Footer {
  --padding-inline: 6;
  padding-inline: calc(var(--unit) * var(--padding-inline));
  font-family: var(--font-mono);
  font-size: 0.625rem;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: var(--tracking-widest);

  background: var(--color-black);
}

@media (width >= 48rem) {
  .Footer {
    --padding-inline: 12;
  }
}

@media (width >= 64rem) {
  .Footer {
    --padding-inline: 24;
  }
}

.Footer__Inner {
  display: flex;
  flex-direction: column;
  gap: calc(var(--unit) * 4);
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media (width >= 48rem) {
  .Footer__Inner {
    flex-direction: row;
  }
}

.Footer__Items {
  display: flex;
  flex-direction: column;
  gap: calc(var(--unit) * 4);
  align-items: center;
}

@media (width >= 48rem) {
  .Footer__Items {
    flex-direction: row;
  }
}

.Footer__Links {
  display: flex;
  gap: calc(var(--unit) * 4);
}

.Footer__Logo,
.Footer__Copy,
.Footer__Button {
  opacity: 0.7;
}

.Footer__Logo {
  width: 7.5rem;
  height: calc(var(--unit) * 6);
}

.Footer__Button {
  text-transform: inherit;
  cursor: pointer;
  transition: opacity var(--default-transition-duration) var(--default-transition-timing-function);
}

.Footer__Button:hover,
.Footer__Button:focus-visible {
  opacity: 1;
}

.Footer__Button:focus-visible {
  outline: 0.125rem solid currentcolor;
  outline-offset: calc(var(--unit) * 2);
}
