.Heading {
  --gap: calc(var(--unit) * 2);
  --index-width: 1rem;

  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-items: flex-start;
  font-family: var(--font-mono);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: var(--tracking-widest);
}

@media (width >= 82rem) {
  .Heading {
    flex-direction: row;
    margin-left: calc(-1 * (var(--index-width) + var(--gap)));
  }
}

.Heading__Index {
  width: var(--index-width);
  font-size: var(--text-xs);
  line-height: var(--text-xs--line-height);
  opacity: 0.7;
  text-box: trim-both cap alphabetic;
}

.Heading__Title {
  font-size: var(--text-3xl);
  line-height: var(--text-3xl--line-height);
  text-box: trim-both cap alphabetic;
}
