.Nav {
  position: fixed;
  top: 50%;
  right: calc(var(--unit) * 6);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: end;
  transform: translateY(-50%);
}

@media (width < 48rem), (hover: none), (pointer: coarse) {
  .Nav {
    display: none;
  }
}
