.PartnerLogoSet {
  --gap: 6;
  --padding-right: 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: calc(var(--unit) * var(--gap));
  place-content: center;
  width: 100%;
  padding-right: calc(var(--unit) * var(--padding-right));
}

@media (width >= 48rem) {
  .PartnerLogoSet {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    width: auto;
  }
}