.References__Title {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.References__Container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap: 0;
  padding-block: 0;
}

.References__Wrapper,
.References__Gradients {
  grid-area: 1 / 1 / 1 / 1;
}

.References__Wrapper {
  width: 100%;
  padding-block: calc(var(--unit) * 16);
  overflow: hidden;
}

.References__Wrapper__Marquee {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

@media (width >= 48rem) {
  .References__Wrapper__Marquee {
    animation: marquee 60s linear infinite;
  }
}

.References__Gradients {
  z-index: 1;
  grid-template-columns: calc(var(--unit) * 12) 1fr calc(var(--unit) * 12);
  height: 100%;
  pointer-events: none;
}

@media (width >= 48rem) {
  .References__Gradients {
    display: grid;
  }
}

.References__Gradients__Left {
  grid-area: 1 / 1 / 1 / 1;
  background: linear-gradient(to left, transparent, black);
}

.References__Gradients__Right {
  grid-area: 1 / 3 / 1 / 3;
  background: linear-gradient(to right, transparent, black);
}

.PartnerLogoSet {
  display: none;
}

@media (width >= 48rem) {
  .PartnerLogoSet {
    display: flex;
  }
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@media (prefers-reduced-motion: reduce) {
  .References__Wrapper__Marquee {
    animation: none;
  }

  .PartnerLogoSet {
    display: none;
  }
}
